body{
   margin:0;
   padding:0;
   background-color: rgb(39, 0, 20);
}
.container{
    text-align:center;
    position:relative;
    border:11px solid rgb(230, 230, 230);
    width:30%;
    height:55%;
    left:32%;
    top:20%;
    border-radius:20px;
}
.header h2{
    font-size: 30px;
    color:white;
}
.header h5{
    font-size:17px;
    color:white;
}
.content input{
    width:60%;
    height:15%;
    border-radius:18px;
    text-align:center;
    background-color:black;
    color:white;
}
.btn{
    width:40%;
    height:13%;
    background-color:white;
    cursor: pointer;
    border-radius: 18px;
    color:white;
}
p{
    color:white;
    font-size:17px;
}
@media (min-width:230px) and (max-width:320px){
    .container{
        width:75%;
        height:70%;
        left:7%;
    }
    .header h2{
        font-size: 25px;
    }
    .header h5{
        font-size:12px;
    }
    .content input{
        width:70%;
        height:15%;
        border-radius:18px;
        font-size:17px;
    }
    .btn{
        width:50%;
        height:13%;
    }
    p{
        color:white;
        font-size:13px;
    }
}
@media (min-width:321px) and (max-width:420px){
    .container{
        width:75%;
        height:70%;
        left:10%;
    }
    .header h2{
        font-size: 27px;
    }
    .header h5{
        font-size:15px;
    }
    .content input{
        width:70%;
        height:15%;
        border-radius:18px;
    }
    .btn{
        width:50%;
        height:13%;
    }
    p{
        font-size:17px;
    }
}
@media (min-width:421px) and (max-width:520px){
    .container{
        width:75%;
        height:60%;
        left:12.5%;
    }
    .header h2{
        font-size: 27px;
    }
    .header h5{
        font-size:15px;
    }
    .content input{
        width:70%;
        height:15%;
        border-radius:18px;
    }
    .btn{
        width:50%;
        height:13%;
    }
    p{
        font-size:17px;
    }
}
@media (min-width:521px) and (max-width:620px){
    .container{
        width:70%;
        height:60%;
        left:17%;
    }
    .header h2{
        font-size: 29px;
    }
    .header h5{
        font-size:17px;
    }
    .content input{
        width:70%;
        height:15%;
        border-radius:18px;
    }
    .btn{
        width:50%;
        height:13%;
    }
    p{
        font-size:17px;
    }
}
@media (min-width:621px) and (max-width:720px){
    .container{
        width:55%;
        height:58%;
        left:25%;
    }
    .header h2{
        font-size: 30px;
    }
    .header h5{
        font-size:19px;
    }
    .content input{
        width:70%;
        height:15%;
        border-radius:18px;
    }
    .btn{
        width:50%;
        height:13%;
    }
    p{
        font-size:17px;
    }
}
@media (min-width:721px) and (max-width:820px){
    .container{
        width:50%;
        height:58%;
        left:22%;
    }
    .header h2{
        font-size: 30px;
    }
    .header h5{
        font-size:19px;
    }
    .content input{
        width:70%;
        height:15%;
        border-radius:18px;
    }
    .btn{
        width:50%;
        height:13%;
    }
    p{
        font-size:17px;
    }
}
@media (min-width:821px) and (max-width:920px){
    .container{
        width:45%;
        height:58%;
        left:28%;
    }
    .header h2{
        font-size: 30px;
    }
    .header h5{
        font-size:19px;
    }
    .content input{
        width:70%;
        height:15%;
        border-radius:18px;
    }
    .btn{
        width:50%;
        height:13%;
    }
    p{
        font-size:17px;
    }
}
@media (min-width:921px) and (max-width:1020px){
    .container{
        width:35%;
        height:58%;
        left:32%;
    }
    .header h2{
        font-size: 30px;
    }
    .header h5{
        font-size:19px;
    }
    .content input{
        width:70%;
        height:15%;
        border-radius:18px;
    }
    .btn{
        width:50%;
        height:13%;
    }
    p{
        font-size:17px;
    }
}
@media (min-width:1021px) and (max-width:1120px){
    .container{
        width:30%;
        height:58%;
        left:35%;
    }
    .header h2{
        font-size: 30px;
    }
    .header h5{
        font-size:19px;
    }
    .content input{
        width:70%;
        height:15%;
        border-radius:18px;
    }
    .btn{
        width:50%;
        height:13%;
    }
    p{
        font-size:17px;
    }
}